#root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 18px;
}

.App {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: right;
  border-radius: 40px;
  box-shadow: 4px 4px 15px 5px rgb(80, 81, 84);
}

.quoteBox {
  background-color: white;
  width: 700px;
  height: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 40px;
}

.quote {
  display: flex;
  flex-direction: row;
}

.quote i {
  font-size: 80px;
  padding-right: 1rem;
}


.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
  font-size: 22px;
} 

.button button{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: right;
  color: white;
}

.button button:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 5px 2px rgb(61, 60, 62);
}